
/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(181, 0, 242);
  font-size: xx-large
}

/* selected link */
a:active {
  color: yellow;
}

  h1 {
    color: rgb(15, 15, 16);
  }
  p {
    color: red;
  } 